#result-page {
    h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 20vh;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}